.App-link {
  color: #BD8B4E;
}

.section{
  padding: 8rem 0 7rem;
  text-align: enter;
}

.mainhead {
  margin-top: 15px;
  justify-content: center;
  color: #BD8B4E;
  text-align: center;
  min-height: 10vh;
  font-family: "Caveat", cursive; /* Note: Use "cursive" as the generic font-family for web fonts */
  font-weight: bold;
  font-size: 35x;
  margin-bottom: 15px;
}

.login_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 70%;
  margin-right: 30px;
  max-width: 40vw;
  border: 1px solid #965F4B;
  margin-bottom: 1em;
  border-radius: 30px;
  background-color: #f2efed;

}

.dentist-img{
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

body {
  margin:5px;
  background-image: url('assets/images/home.png');
  background-color: #f2efed;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 70%;
}

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

#home {
  height: 50vh;
  min-height: 400px;
  background-color: #3D4C52;
  }

.dentist_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:#BD8B4E;
  text-align: center;
}

.appointment-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:#BD8B4E;
  text-align: center;
}

#make-appointment{
  text-align: center;
}

.visit-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color:#BD8B4E;
}